node_modules
src/probesCodi
src/test
src/webcomponents/DadesEstudis.js
src/webcomponents/DadesPersonals.js
src/webcomponents/DadesProfesionals.js
dist
public
package-lock.json
package.json
vite.config.js