curriculum-vitae {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px 5px;

	font-family: Cambria, Garamond, Georgia, Times, 'Times New Roman', serif;

	overflow: auto;
	width: 100%;

	>div {
		padding: 0.5rem;
	}

	p {
		font-size: 1rem;
	}

	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}



div[name="divresum-profesional"] {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;

	background-color: rgba(64, 161, 206, 0.719);
}

div[name="divTitol"]{
	grid-column-start: 1;
	grid-column-end: span 4;

	display: grid;
	justify-content: end;

	border-top: 2px double rgb(23, 11, 128);
	border-bottom: 2px double rgb(23, 11, 128);
	padding: 20px 0 20px 0;

	background-color: rgb(74, 167, 211);
	border-radius: 16px;

	h1 {
		
		color:rgba(0, 0, 0, 0.74);
		font-weight: 900;
		text-decoration: underline;

		text-transform: uppercase;
		font-size: 2rem;
		
		

	}
}
	
div[name="dades-personals"] {
		
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;

	background-color: rgba(116, 200, 240, 0.719);
	border-radius: 16px;


	>div {
		text-align: center;
	}
}

div[name="divhabilitats"] {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 6;

	background-color: rgba(116, 200, 240, 0.719);
	border-radius: 16px;
}
	
div[name="dades-profesionals"] {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;

	background-color: rgba(137, 43, 226, 0.267);

	>div {
		border-bottom: 2px solid rgb(32, 31, 31);
	}
}
	

.dada-profesio {
	display: grid;/*treure'l dona un efecte interesant*/
	grid-template-columns: 1fr 2fr;

	border-bottom: 2px solid black;

	div[name="divnom-profesional"] {
		background: rgba(85, 76, 76, 0.3);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 253, 253, 0.700);

		margin: 0.3rem;
		>p {
		font-weight: 900;
		text-align: center;
		}
	}

	din[name="divdetalls-profesionals"] {
		grid-row-start: 1;
	}
}

div[name="dades-estudis"] {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;

	background-color: rgba(128, 255, 0, 0.226);

	>div {
		border-bottom: 2px solid rgb(51, 49, 49);
	}
}
	
div[name="dada-estudis"] {
	>div {
		display: grid;
		grid-template-columns: 1fr 2fr;

		div[name="divdata-estudis"] {
			grid-column-start: 1;
			grid-column-end: 2;
		}

		div[name="divnom-estudis"] {
			grid-column-start: 2;
			grid-column-end: 3;

			background: rgba(85, 76, 76, 0.3);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			border: 1px solid rgba(255, 253, 253, 0.700);

			margin: 0.3rem;
			>p {
				font-weight: 900;
				text-align: center;
			}
		}

		div[name="divcentre-estudis"] {
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}
	
}