curriculum-vitae {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px 5px;

	font-family: Cambria, Garamond, Georgia, Times, 'Times New Roman', serif;

	overflow: auto;
	width: 100%;

	>div {
		padding: 0.5rem;
	}

	p {
		font-size: 1rem;
	}

	h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}