div[name="container"] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h1 {
	width: 100%;
	text-align: end;
}

div[name="dades-personals"] {
	width: 25%;
	height: 100%;
}

div[name="dades-profesionals"] {
	width: 75%;
}

div[name="dades-estudis"] {
	width: 75%;
	text-align: end;
}
















/* div[name='container'] {
	display: grid;
	grid-template-areas: 
	"none			titol				titol"
	"dadesPersonals	dadesProfesionals	dadesProfesionals"
	"dadesPersonals	dadesEstudis		dadesEstudis";

	div {
		padding: 0.2rem;
	}
}

h1[name='titol'] {
	grid-area: titol;
	background: rgba(70, 70, 182, 0.411);
}

div[name='dades-personals'] {
	grid-area: dadesPersonals;
	background: rgba(70, 70, 182, 0.411);
}

div[name='dades-profesionals'] {
	grid-area: dadesProfesionals;
	background: rgba(70, 182, 104, 0.411);

}

.dada-profesio {
	display: flex;
	border-bottom: 2px solid white;
	
	div {
		display: block;
	}
	div[name="divdetalls-profesional"] {
		align-content: center;

		pre{
			display: flex;
			flex-wrap: wrap;
		}
	}
}

div[name='dades-estudis'] {
	grid-area: dadesEstudis;
	background: rgba(150, 70, 182, 0.411);

}




 */