/* Plantilla Moderna con Separadores */

curriculum-vitae {
	font-family: "Segoe UI", sans-serif;
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 20px;
}

section {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

section:last-child {
	border-bottom: none;
}

section:empty {
	display: none;
}

h2 {
	font-size: 1.3rem;
	margin-bottom: 10px;
}
