/* sidebar */
curriculum-vitae {
  display: grid;
  grid-template-columns: 260px 1fr;
  font-family: "Segoe UI", sans-serif;
}

aside {
  background: #fafafa;
  border-right: 2px solid #ddd;
  padding: 20px;
}

main {
  padding: 20px;
}

section:empty {
  display: none;
}

p[name="resum-profesional"] {
  padding: 10px;
}
