/* PLANTILLA 5 — Línea roja */

curriculum-vitae {
  border-left: 8px solid #c0392b;
  grid-template-areas:
    "titol titol"
    "personales resum"
    "estudis profesionals"
    "habilitats profesionals";
}

div[name="divTitol"] {
  grid-area: titol;
  color: #c0392b;
  font-size: 2rem;
  font-weight: bold;
}
